.wrapper{
    padding:6px;
    border-radius: 2px;
    border: 1px solid black;
    font-family: "Lora", serif;
    color: #444;
    margin:2px 0px;
    
}
.hr{
    margin:2px 0px;
}

.toprow{
    display:flex;
    justify-content: space-between;
}
.datainput{
    display:flex;
    flex-direction: column;
    font-family: "Lora", serif;
    color: #444;
}
.posttitile{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
    margin:2px 0px;
}
.publish{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
}
.teatxarea{
    margin:2px 0px;   
}
.posttitile:focus {
    outline: none;
  }

.teatxarea:focus {
    outline: none;
  }